
body{
    background-color: green;
}
.titulo{
font-style: italic;
text-align: center;
color: black;

}
.titulo2{
    font-style: italic;
    text-align: center;
    color: rgba(62, 0, 250, 0.638);
    
    }

div{
display: flex;
justify-content: center;
font-size: 50px;
}
button{
    color: aliceblue;
    font-size: 40px;
    background-color: blue;
}
input{
    color: black;
    background-color: bisque;
    font-size: 40px ;
}

h2{
    text-align: center;
}

